<div fxLayout="row" fxLayoutAlign="space-between center">
    <app-top-metric-bar [currentSymbol]="currentStockSymbol" [symbols]="">
    </app-top-metric-bar>

    <div fxLayout="row" fxLayoutAlign="space-between center">
        <app-strategy-selector
            [strategies]="strategies$ | async"
            [currentStrategy]="currentStrategyName$ | async"
            (strategySelected)="strategySelected($event)"
        >
        </app-strategy-selector>

        <app-symbol-selector
            [symbols]="symbols$ | async"
            [currentSymbol]="currentStockSymbol"
            (symbolSelected)="symbolSelected($event)"
        >
        </app-symbol-selector>
    </div>
</div>

<div>
    <mat-spinner *ngIf="loading" class="loader"> </mat-spinner>
    <div
        echarts
        [initOpts]="initOpts"
        [options]="chartOption"
        [autoResize]="true"
        class="chart"
        [ngClass]="{ loading: loading }"
    ></div>
</div>
