<div
    *ngIf="currentSymbol"
    fxLayout="row"
    fxLayoutAlign="space-around center"
    fxLayoutGap="10px"
>
    <form>
        <mat-form-field
            fxLayout="row"
            fxLayoutAlign="start center"
            fxLayoutGap="10px"
        >
            <input
                matInput
                [formControl]="symbolControl"
                placeholder="Current symbol"
                value="{{ currentSymbol.symbol }}"
                [matAutocomplete]="auto"
            />
            <mat-autocomplete
                autoActiveFirstOption
                [class]="{ menu: true }"
                #auto="matAutocomplete"
                (optionSelected)="optionSelected($event)"
            >
                <mat-option
                    *ngFor="let symbol of filteredSymbols | async"
                    [value]="symbol.symbol"
                >
                    {{ symbol.name }}
                </mat-option>
            </mat-autocomplete>
            <mat-icon matPrefix svgIcon="search-web"></mat-icon>
        </mat-form-field>
    </form>
</div>
