:host {
    color: #0e9862;

    .metric-title {
        font-family: 'Oswald', sans-serif;
        font-weight: 500;
    }

    mat-icon {
        color: #0e9862;
    }

    .logo {
        color: #00bcd4;
    }

    .current-symbol {
        color: #d49b00;
    }

    .arrow {
        color: rgb(88, 88, 88);
    }

    .mat-form-field {
        color: #0e9862 !important;
    }
}
